<div class="container mt-4">

  <div class="container">
    <div class="row align-items-md-center">
      <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5 text-center">
        <img src="assets/logo/logo.svg" class="my-auto" height="150"/>
      </div>

      <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
        <div class="d-flex flex-column align-right mt-4">
          <h1 class="shepherd-title">Shepherd</h1>

          <p class="shepherd-subtitle mb-4 fs-5">
            Trustworthy information <span class="fw-bolder">for the people</span>, guarded <span class="fw-bolder">by the people</span>.
          </p>

          <p class="shepherd-subtitle fs-5">
            Shepherd is a collaborative tool that aims to bring together a community of people willing to
            promote trustworthy and objective information.
          </p>

          <div class="text-center">
            <a href="" class="btn btn-outline-primary col-md-3 my-2 py-2">
              <i class="bi bi-download m-1"></i>
              Get the extension
            </a>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="row">
      <h3 class="shepherd-subtitle">How does it work?</h3>

      <p>
        Shepherd heavily relies on its involved community through the dedicated
        browser extension.
      </p>

      <p>
        Once downloaded, the extension will be activated whenever you will
        be browsing any media's website.
      </p>

      <p>
        Thanks to it and the ratings provided by other members, a roughly
        estimate of how credible the media is will be displayed, helping you to
        stay alert regarding fake news and suspicious sources.
      </p>
    </div>

    <div class="row">
      <h3 class="shepherd-subtitle">Contributing</h3>

      <p>
        Anybody can help Shepherd to be more accurate and trustworthy.
      </p>

      <p>
        Using the extension, you are free to vote whether the media you are
        viewing can be trusted or not.
      </p>

      <p>
        Using the extension, website, you can suggest any media that is not
        already reviewed by the community.
      </p>
    </div>

    <div class="row">
      <h3 class="shepherd-subtitle">Privacy</h3>
    </div>

    <p>
      Privacy matters, especially when it comes to public information and
      knowledge.
    </p>

    <p>
      No opinion or content should be censored. That's why we aren't storing any
      personal information that might identify anyone. This way, you can freely
      give your insights without fearing any consequences from any group.
    </p>

  </div>

</div>
