<div class="m-4">

  <div class="container justify-content-center text-center my-3">
    <h1 class="shepherd-title">{{ media.name }}</h1>
    <p class="text-muted">Evaluated since {{ media.creationDate | date }}</p>
  </div>

  <div class="container">

    <div class="row">
      <app-media-rating [report]="media.trustReport"
        class="container justify-content-center text-center" >
      </app-media-rating>
    </div>

    <div class="row justify-content-center mb-3">
      <span class="text-muted text-center">
        (Trust index based on {{ media.trustReport.voteCount }} votes)
      </span>
    </div>

    <div class="row justify-content-center">
      <p class="col col-md-7">{{ media.description }}</p>
    </div>

    <div class="row justify-content-center">
      <a [href]="media.website"
        target="_blank"
        class="btn btn-outline-secondary col-12 col-md-3">
        Visit the official website
        <i class="bi bi-box-arrow-up-right ml-2"></i>
      </a>
    </div>

  </div>

</div>
