@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "./theme.css";

body,
app-root {
  min-height: 100vh;
  height: 100vh;
}

/* Gauge global styles: https://github.com/mattlewis92/angular-gauge#installation */
mwl-gauge {
  width: 150px;
  height: 150px;
  display: block;
}

mwl-gauge > .gauge > .dial {
  stroke: #eee;
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}

mwl-gauge > .gauge > .value {
  stroke: var(--blue-400);
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}

mwl-gauge > .gauge > .value-text {
  fill: var(--blue-200);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}
