name: REST API

on: [push]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 15
      uses: actions/setup-java@v1
      with:
        java-version: 15
    - name: Test with Gradle
      run: |
        cd backend/shepherd/
        chmod +x gradlew
        ./gradlew test --stacktrace

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 15
      uses: actions/setup-java@v1
      with:
        java-version: 15
    - name: Build with Gradle
      run: |
        cd backend/shepherd/
        chmod +x gradlew
        ./gradlew build
