# FIXME: This is a ReactJS workflow

name: Angular SPA

on: [push]

jobs:

  build:
    runs-on: ubuntu-latest
    
    steps:

    - uses: actions/checkout@v2

    - name: Use Node.js 15
      uses: actions/setup-node@v2
      with:
        node-version: '15'

    - name: Setup Angular
      run: |
        npm install @angular/cli
        npm install @angular-devkit/schematics

    - name: Install project
      run: |
        cd frontend/shepherd
        npm ci

    - name: Build with Node
      run: |
        cd frontend/shepherd
        npm run build

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:

    - uses: actions/checkout@v2

    - name: Use Node.js 15
      uses: actions/setup-node@v2
      with:
        node-version: '15'

    - name: Setup Angular
      run: |
        npm install @angular/cli
        npm install @angular-devkit/schematics

    - name: Install project
      run: |
        cd frontend/shepherd
        npm ci

    - name: Run tests
      run: |
        cd frontend/shepherd
        npm run test:no-watch
