name: ReactJS SPA

on: [push]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 15.x
      uses: actions/setup-node@v1
    - name: Install project
      run: |
        cd frontend/shepherd
        npm ci
    - name: Build with Node
      run: |
        cd frontend/shepherd
        npm run build

  # There is no tests yet, uncomment when at least one will be available
  # test:
  #   runs-on: ubuntu-latest
  #   needs: build
  #   steps:
  #   - uses: actions/checkout@v2
  #   - name: Use Node.js 15.x
  #     uses: actions/setup-node@v1
  #   - name: Install project
  #     run: |
  #       cd frontend/shepherd
  #       npm ci
  #   - name: Run tests
  #     run: |
  #       cd frontend/shepherd
  #       npm run test